.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #a5876a;
	color: #fff;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active:hover{
	background-color: #a5876a;
	color: #fff;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link{
	color: #636c72;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link:hover{
	color: #ff931e;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link{
	color: #636c72;
}

.btn-success{
	background: #a5876a;
	border:none;
}

.btn-success:hover,
.btn-success:focus{
	background: #ff931e !important;
}

.btn-success.disabled, .btn-success:disabled{
	background: #a5876a;
}

.card-primary:not(.card-outline)>.card-header{
	background-color: #a5876a;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link{
	color: #fff;
	background-color: #a5876a;
}

.currency-selector{
	border:0;
	background:transparent;
}