.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #a5876a;
	color: #fff;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active:hover{
	background-color: #a5876a;
	color: #fff;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link{
	color: #636c72;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link:hover{
	color: #ff931e;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link{
	color: #636c72;
}

.btn-success{
	background: #a5876a;
	border:none;
}

.btn-success:hover,
.btn-success:focus{
	background: #ff931e !important;
}

.btn-success.disabled, .btn-success:disabled{
	background: #a5876a;
}

.card-primary:not(.card-outline)>.card-header{
	background-color: #a5876a;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link{
	color: #fff;
	background-color: #a5876a;
}

.currency-selector{
	border:0;
	background:transparent;
}

.banner-image{
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
}

.banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#hidden-zoning-div {
    display: none;
}

@media only screen and (max-width: 1440px){
	.content {
		font-size: 14px;
	}

	.content .btn-success,
	.content .btn-primary,
	.content .btn-danger{
		font-size: 10px;
	}
}

@media only screen and (max-width: 1315px) {
	.content .btn-success,
	.content .btn-primary,
	.content .btn-danger{
		font-size: 12px;
		width: 100%;
	}
}