/*Color*/
:root {
    --color-primary: #a5876a;
    --color-secondary: #E1CCB7 !important;
    --color-acent: #cebba8;
    --color-orange: #ff931e;
    --color-black: #636c72;
    --font-poppin: 'Poppins', serif;
}

/*Color*/



@font-face {
    font-family: "cerebri";
    src: url("../font/Cerebri-Sans/CerebriSans-Regular.ttf");
}

@font-face {
    font-family: "cerebri-bold";
    src: url("../font/Cerebri-Sans/CerebriSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "cerebri";
}

body{
    background-color: #f6f6f6;
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

#product-listing .card-title{
    font-weight: bold;
    color: var(--color-primary);
}

.btn-delete {
    box-shadow: none;
    font-family: var(--font-poppin);
    font-size: 15px;
    color: var(--color-primary);
    padding: 0 9px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-delete:hover {
    background-color:#f73378;
    color: #ffffff;
    box-shadow: none;
}

.btn-theme {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
    position: relative;
}

.btn-orange {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-orange);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-orange:hover {
    background-color:#cf7718;
    color: #ffffff;
    box-shadow: none;
}

.btn-inquiry {
    box-shadow: none;
    margin: 0;
    width: 100%;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-3 {
    box-shadow: none;
    height: 100%;
    width:95%;
    font-family: var(--font-poppin);
    font-size: 10px;
    font-weight:bold;
    text-transform: capitalize;
    /* background-color: var(--color-primary); */
    color: var(--color-primary);
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
}

.btn-theme-3:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-theme-2 {
    box-shadow: 0 10px 20px 0px rgb(34 137 255 / 52%);
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-play {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    margin-left: 20px;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}


.btn-advance {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: none;
}

/*Header*/

header.header {
    width: 100%;
}

#nav-container{
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.logo-nav{
    width: 165px;
    height:auto;
}

.header nav.navbar .navbar-brand {
    font-family: var(--font-poppin);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.header nav.navbar .nav-link {
    font-size: 13px;
    font-family: var(--font-poppin);
    color: var(--color-primary);
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.5s ease;
}

.header nav.navbar .nav-item .icon-responsive{
    display: none;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
}


.header nav.navbar .nav-item {
    margin: auto 5px;
}

.navbar-toggler {
    color: var(--color-primary);
}

.header .header-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
}

.judul {
    font-family: "cerebri-bold";
    font-size: 40px;
}

.sub-judul {
    font-family: "cerebri";
}

/*Header*/

#list-article{
    width: 100%;
    height: 100%;
    padding: 60px 20px;
}

.article-container{
    width: 100%;
    height: 450px;
    padding: 10px 20px;
    position: relative;
    /* background-color: aqua; */
}

/* #list-article .find-btn, 
#list-article .sort-select{
    width: 300px !important;
    text-align: center;
} */



.article-container .category-text{
    font-size: 12px;
}

.article-container h1{
    color: #4f4f4f;
    font-size: 20px;
}


.article-container p{
    color: #4f4f4f;
    font-size: 13px;
    margin: 0;
}

.article-container .image {
    width:  100%;
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.article-container a{
    text-decoration: none;
    color: #4f4f4f;
}

.article-container .image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.article-container  .text-container{
    width: 100%;
    height: 60px;
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
}

.btn-container{
    position:absolute;
    bottom: 2%;
}

.header-container{
    margin-top: 55px;
    margin-bottom: 55px;
}

.judul-header{
    font-size: 45px;
    color: #a5876a;
}


/*Footer section*/

footer {
    padding: 0 50px;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color: #ffffff;
    height: 70px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
/*Footer section*/


@media only screen and (max-width: 1200px) {
    #feature-ul {
        margin-top: 20px;
    }
    #product-listing .property-list p{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 991px) {
    body{
        margin-bottom: 0;
    }
    footer {
        position: relative;
    }

    .img-not-found{
        height: auto;
        width: 300px;
    }

    #nav-container{
        background: #fff;
        min-width: 100%;
        position: fixed;
        color: var(--color-primary);
        z-index: 20;
    }

    .logo-nav{
        width: 150px; 
        height:auto;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active {
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 5px;

        /*background: linear-gradient(to right, #F16A70, #F16A70) no-repeat;
        background-size: 90% 3px;
        background-position: left bottom;*/
    }

    .header nav.navbar .nav-item .icon-responsive{
        display: inline-block;
        margin-right: 5px;
    }

    .fixed{
        padding: 0 12px;
    }

    #product-listing .property-list p{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 580px) {

    .logo-nav{
        width: 120px; 
        height:auto;
    }
    
    #product-listing{
        padding: 80px 10px;
    }

    #product-listing .property-list p{
        font-size: 13px !important;
    }
}