/*Color*/
:root {
    --color-primary: #a5876a;
    --color-secondary: #E1CCB7 !important;
    --color-acent: #cebba8;
    --color-orange: #ff931e;
    --color-black: #636c72;
    --font-poppin: 'Poppins', serif;
}

/*Color*/



@font-face {
    font-family: "cerebri";
    src: url("../font/Cerebri-Sans/CerebriSans-Regular.ttf");
}

@font-face {
    font-family: "cerebri-bold";
    src: url("../font/Cerebri-Sans/CerebriSans-Bold.ttf");
}

.animatable {
  
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
}

/* show objects being animated */
.animated {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

* {
    margin: 0;
    padding: 0;
    font-family: "cerebri";
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

.btn-theme {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-theme-2 {
    box-shadow: 0 10px 20px 0px rgb(206 187 168 / 52%);
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-play {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    margin-left: 20px;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}


.btn-advance {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: none;
}

/*Header*/
.header{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#banner-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    overflow:hidden;
    background-color: var(--color-primary);
    z-index: -1;
}

#banner-image img{
    display: none;
    width: 100%;
    height: 100%;
}

#banner-image img:first-child {
    display: block;
}



#nav-container{
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.logo-nav{
    width: 180px; 
    height:auto;
}

.header nav.navbar .navbar-brand {
    font-family: var(--font-poppin);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.header nav.navbar .nav-link {
    font-size: 15px;
    font-family: var(--font-poppin);
    color: var(--color-primary);
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.5s ease;
}

.header nav.navbar .nav-item .icon-responsive{
    display: none;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
}


.header nav.navbar .nav-item {
    margin: auto 5px;
}

.navbar-toggler {
    color: var(--color-primary);
}

.header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
}

.judul {
    font-family: "cerebri-bold";
    font-size: 60px;
}

.sub-judul {
    font-family: "cerebri";
}

input#amount:focus{
    outline: none;
}

.ui-widget-header{
    background: var(--color-orange) !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border-radius: 50px;
    border: 1px solid var(--color-orange) !important; 
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    border: 1px solid var(--color-orange) !important; 
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: var(--color-orange) !important;
}   

/*Header*/




/*Hero Banner*/

#hero-banner {
    width: 100%;
    padding: 80px 0;
    font-family: var(--font-poppin);
}

#hero-banner h1 {
    font-family: "cerebri-bold";
    color: var(--color-orange);
}

#hero-banner p {
    font-weight: lighter;
    color: var(--color-black);
}

#hero-banner a {
    color: #fff;
}

#hero-banner .banner-content {
    border-radius: 20px;
    overflow: hidden;
}

.img-resize {
    width: 100%;
    height: 480px;
    border-radius: 20px;
}

.video {
    width: 100%;
    height: auto;
}

/*Hero Banner*/




/*Search*/
#search-section {
    margin-top: 50px;
}

#search-section select {
    background-color: transparent;
}

#search-section .search-area {
    padding: 20px 40px;
    font-family: var(--font-poppin);
    background-color: #fff;
    border-radius: 30px;
}

#search-section .search-area select {
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    color: #636c72;
}

#search-section .search-area p {
    padding: 0 9px;
    width: 100%;
    margin-bottom: 3px;
    color: #000;
}

#search-section .search-area input {
    outline: none;
    border: .5px solid var(--color-primary);
    height: 50px;
    padding: 8px 11px;
    border-radius: 10px;
}

#search-section .search-area select {
    outline: none;
    border: .5px solid var(--color-primary);
    color: var(--color-primary);
    height: 50px;
    padding: 8px 11px;
    border-radius: 10px;
}

#search-section .search-area input::placeholder{
    color: var(--color-primary);
    opacity: 1;
}

#search-section .search-area input:focus {
    outline-color: none;
    box-shadow: none;
    border: 1px solid var(--color-primary);
}

#search-section .search-area button.btn-theme {
    border-radius: 30px;
    padding: 12px 40px;
}

.primary{
    color: var(--color-primary);
}

/*Search*/

/*Services section*/

#services-section {
    padding: 100px 0;
    font-family: var(--font-poppin);
}

#services-section .service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 30px;
    margin: 10px;
}

#services-section .service-show i.fas {
    padding: 20px;
    width: 62px;
    color: var(--color-primary);
    font-size: 20px;
    background-color: #eeeeee;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#services-section .service-show p {
    font-size: 14px;
    font-weight: 400;
}

/*Services section*/


/*Property section*/

#property-section {
    width: 100%;
    padding: 50px 0;
    background-color: #eeeeee;
}

.container-property{
    padding: 0 150px;
}

#property-section h3 {
    font-family: "cerebri-bold";
    color: var(--color-orange);
    
}

#property-section h6 {
   color: var(--color-black);
}

#property-section .text-right {
    text-align: right;
}

#property-section .text-left {
    text-align: left;
}

#property-section .item-name {
    color: var(--color-black);
    font-family: "cerebri-bold";
    font-size: 15px;
    margin-top: 20px;
}

.price {
    color: var(--color-primary);
    font-family: "cerebri-bold";
    font-size: 15px;
}

#property-section .fas {
    color: var(--color-black);
}

#property-section a {
    text-decoration: none;
}


#property-section .text-right .margin-left {
    margin-left: 10px;
}

#property-section .text-right a {
    font-family: "cerebri-bold";
    color: var(--color-orange);
    font-size: 14px;
    font-weight: 500;
    transition: 1s ease;
    text-transform: none;
}

#property-section .text-right a:hover {
    color: var(--color-primary);
}

#property-section #property-slider {
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

#property-slider .swiper {
    width: 100%;
    height: 100%;
}

#property-slider .swiper .swiper-slide .property-list {
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

#property-slider .swiper .swiper-slide .property-list p {
    color: var(--color-black);
    font-size: 15px !important;
}

#property-slider .swiper .swiper-slide .property-list .btn-property {
    border: none;
    background: #fff;
    font-size: 15px;
    transition: 0.5s ease;
    color: var(--color-black);
}

#property-slider .swiper .swiper-slide .property-list .btn-property:hover {
    color: var(--color-orange);
}

#property-slider .swiper .swiper-slide .property-list .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

#property-slider .swiper .swiper-slide .property-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#property-ul {
    padding: 0;
    margin-bottom: 0;
}

#property-ul i.fas {
    font-size: 13px;
}

#property-ul .property-features {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    text-align: center;
}

#property-slider hr {
    margin: 0 0 15px;
}

/*Property section*/


/*Work section*/

#work-section {
    width: 100%;
    padding: 100px 0;
    background-color: #eeeeee;
    text-align: center;
    font-family: var(--font-poppin);
}

#work-section a{
    color: var(--color-primary);
    text-decoration: none;
}

#work-section h1 {
    color: var(--color-orange);
    font-family: "cerebri-bold";
}

#work-section h4 {
    font-family: "cerebri-bold";
}

#work-section p {
    font-weight: 400;
}

#work-section .service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: #ffffff;
    width: 50%;
    height: auto;
}

#work-section .service-show i.fas {
    padding: 20px;
    width: 62px;
    color: #ffffff;
    font-size: 20px;
    background-color: var(--color-primary);
    border-radius: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#work-section .service-show p {
    font-size: 14px;
    font-weight: 400;
}

#work-section .card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:center;
}


/*#work-section .service-show{
	padding: 20px 30px;
	text-align: center;
	border-radius: 30px 0 30px 30px;
	margin: 10px;
	transition: 0.5s ease;
	cursor: pointer;
}

#work-section .service-show:hover{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	background-color: #ffffff;
}*/

/*Work section*/


/*About section*/

#about-section {
    width: 100%;
    padding: 120px 0;
    background-color: #ffffff;
    font-family: var(--font-poppin);
}

#about-section a{
    color: #fff;
}

#about-section h1 {
    color: var(--color-orange);
    font-family: "cerebri-bold";
}

#about-section p {
    color: var(--color-black);
}

#about-section .image {
    border-radius: 80px;
    overflow: hidden;
}

#about-section .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*About section*/


/*Feature section*/

#feature-section {
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
    padding: 50px 0;
    font-family: var(--font-poppin);
}

#feature-section a{
    color: #fff;
}

#feature-section .text-right {
    text-align: right;
}

#feature-section .text-left {
    text-align: left;
}

#feature-section .text-center {
    text-align: center;
}

#feature-section .item-name {
    font-family: "cerebri-bold";
    font-size: 18px;
    margin-top: 10px;
}

#feature-section h1 {
    font-family: "cerebri-bold";
    color: var(--color-primary);
}

#feature-section .property-list {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    transition: transform .5s ease;
}

#feature-section .property-list p {
    font-size: 15px !important;
    color: #636c72;
}

#feature-section .property-list .btn-property {
    border: none;
    background: #fff;
    font-size: 15px;
    transition: 0.5s ease;
}

#feature-ul {
    padding: 0;
    margin-bottom: 0;
}

#feature-ul .feature-features {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    text-align: center;
}

#feature-ul i.fas {
    font-size: 13px;
    color: #9ba1a5;
}

#feature-section .property-list .btn-property:hover {
    color: var(--color-primary);
}

#feature-section .property-list:hover {
    transform: scale(1.02);
}


#feature-section .property-list .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

#feature-section .property-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-hr {
    margin: 0 0 15px;
}

#feature-section .btn-theme {
    border-radius: 30px;
}

/*Feature section*/

/*Testimonial section*/

#testimonial-section {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    font-family: var(--font-poppin);
}

#testimonial-section .text-left {
    text-align: left;
}

#testimonial-section h1 {
    font-family: "cerebri-bold";
    color: var(--color-primary);
}

#testimonial-section .testimonial-list .image {
    border-radius: 50%;
    overflow: hidden;
    height: 350px;
}

#testimonial-section .testimonial-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonial-section .testimonial-list i.fas {
    color: var(--color-primary);
    opacity: 0.1;
}


/*Testimonial section*/


/*Mail section*/

.custom{
    height: 1px; 
    background-color: var(--color-primary);
    border: none;
}

#mail-section {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    font-family: var(--font-poppin);
}

#mail-section h1{
    width: 100%;
    color: var(--color-orange);
    font-family: "cerebri-bold";
}

#mail-section .text-right {
    text-align: right;
}

#mail-section .form {
    padding: 10px 20px;
    border-radius: 30px;
}

#mail-section .btn-theme {
    border-radius: 30px;
    padding: 12px 40px;
}

#mail-section .form input {
    padding: 15px 0px;
    border: none;
}

#mail-section .form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

/*Mail section*/

/* Floating Button */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    transition: all .2s ease-in-out;
}

.float:hover{
    color: #fff;
    transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* Floating Button */

/*Footer section*/

footer {
    width: 100%;
    padding: 0 50px;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color: #ffffff;
}

/*Footer section*/

.animatable {
  
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
  }
  
  /* show objects being animated */
  .animated {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }
  
  /* CSS Animations (extracted from http://glifo.uiparade.com/) */
  @-webkit-keyframes fadeInDown {
      0% {
          opacity: 0;
          -webkit-transform: translateY(-20px);
      }	100% {
          opacity: 1;
          -webkit-transform: translateY(0);
      }
  }
  
  @-moz-keyframes fadeInDown {
      0% {
          opacity: 0;
          -moz-transform: translateY(-20px);
      }
  
      100% {
          opacity: 1;
          -moz-transform: translateY(0);
      }
  }
  
  @-o-keyframes fadeInDown {
      0% {
          opacity: 0;
          -o-transform: translateY(-20px);
      }
  
      100% {
          opacity: 1;
          -o-transform: translateY(0);
      }
  }
  
  @keyframes fadeInDown {
      0% {
          opacity: 0;
          transform: translateY(-20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  
  
  @-webkit-keyframes fadeIn {
      0% {
          opacity: 0;
      }
      20% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @-moz-keyframes fadeIn {
      0% {
          opacity: 0;
      }
      20% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @-o-keyframes fadeIn {
      0% {
          opacity: 0;
      }
      20% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      60% {
          opacity: 0;
      }
      20% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  @-webkit-keyframes bounceInLeft {
      0% {
          opacity: 0;
          -webkit-transform: translateX(-2000px);
      }
      60% {
          -webkit-transform: translateX(20px);
      }
  
      80% {
          -webkit-transform: translateX(-5px);
      }
  
      100% {
          opacity: 1;
          -webkit-transform: translateX(0);
      }
  }
  
  @-moz-keyframes bounceInLeft {
      0% {
          opacity: 0;
          -moz-transform: translateX(-2000px);
      }
  
      60% {
          -moz-transform: translateX(20px);
      }
  
      80% {
          -moz-transform: translateX(-5px);
      }
  
      100% {
          opacity: 1;
          -moz-transform: translateX(0);
      }
  }
  
  @-o-keyframes bounceInLeft {
      0% {
          opacity: 0;
          -o-transform: translateX(-2000px);
      }
  
      60% {
          opacity: 1;
          -o-transform: translateX(20px);
      }
  
      80% {
          -o-transform: translateX(-5px);
      }
  
      100% {
          opacity: 1;
          -o-transform: translateX(0);
      }
  }
  
  @keyframes bounceInLeft {
      0% {
          opacity: 0;
          transform: translateX(-2000px);
      }
  
      60% {
          transform: translateX(20px);
      }
  
      80% {
          transform: translateX(-5px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  @-webkit-keyframes bounceInRight {
      0% {
          opacity: 0;
          -webkit-transform: translateX(2000px);
      }
  
      60% {
          -webkit-transform: translateX(-20px);
      }
  
      80% {
          -webkit-transform: translateX(5px);
      }
  
      100% {
          opacity: 1;
          -webkit-transform: translateX(0);
      }
  }
  
  @-moz-keyframes bounceInRight {
      0% {
          opacity: 0;
          -moz-transform: translateX(2000px);
      }
  
      60% {
          -moz-transform: translateX(-20px);
      }
  
      80% {
          -moz-transform: translateX(5px);
      }
  
      100% {
          opacity: 1;
          -moz-transform: translateX(0);
      }
  }
  
  @-o-keyframes bounceInRight {
      0% {
          opacity: 0;
          -o-transform: translateX(2000px);
      }
  
      60% {
          -o-transform: translateX(-20px);
      }
  
      80% {
          -o-transform: translateX(5px);
      }
  
      100% {
          opacity: 1;
          -o-transform: translateX(0);
      }
  }
  
  @keyframes bounceInRight {
      0% {
          opacity: 0;
          transform: translateX(2000px);
      }
  
      60% {
          transform: translateX(-20px);
      }
  
      80% {
          transform: translateX(5px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  @-webkit-keyframes fadeInUp {
      0% {
          opacity: 0;
          -webkit-transform: translateY(20px);
      }	100% {
          opacity: 1;
          -webkit-transform: translateY(0);
      }
  }
  
  @-moz-keyframes fadeInUp {
      0% {
          opacity: 0;
          -moz-transform: translateY(20px);
      }
  
      100% {
          opacity: 1;
          -moz-transform: translateY(0);
      }
  }
  
  @-o-keyframes fadeInUp {
      0% {
          opacity: 0;
          -o-transform: translateY(20px);
      }
  
      100% {
          opacity: 1;
          -o-transform: translateY(0);
      }
  }
  
  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
  
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  @-webkit-keyframes bounceIn {
      0% {
          opacity: 0;
          -webkit-transform: scale(.3);
      }
      50% {
          -webkit-transform: scale(1.05);
      }
  
      70% {
          -webkit-transform: scale(.9);
      }
  
      100% {
          opacity: 1;
          -webkit-transform: scale(1);
      }
  }
  
  @-moz-keyframes bounceIn {
      0% {
          opacity: 0;
          -moz-transform: scale(.3);
      }
  
      50% {
          -moz-transform: scale(1.05);
      }
  
      70% {
          -moz-transform: scale(.9);
      }
  
      100% {
          opacity: 1;
          -moz-transform: scale(1);
      }
  }
  
  @-o-keyframes bounceIn {
      0% {
          opacity: 0;
          -o-transform: scale(.3);
      }
  
      50% {
          -o-transform: scale(1.05);
      }
  
      70% {
          -o-transform: scale(.9);
      }
  
      100% {
          opacity: 1;
          -o-transform: scale(1);
      }
  }
  
  @keyframes bounceIn {
      0% {
          opacity: 0;
          transform: scale(.3);
      }
  
      50% {
          transform: scale(1.05);
      }
  
      70% {
          transform: scale(.9);
      }
  
      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
  @-webkit-keyframes moveUp {
      0% {
          opacity: 1;
          -webkit-transform: translateY(40px);
      }	100% {
          opacity: 1;
          -webkit-transform: translateY(0);
      }
  }
  
  @-moz-keyframes moveUp {
      0% {
          opacity: 1;
          -moz-transform: translateY(40px);
      }
  
      100% {
          opacity: 1;
          -moz-transform: translateY(0);
      }
  }
  
  @-o-keyframes moveUp {
      0% {
          opacity: 1;
          -o-transform: translateY(40px);
      }
  
      100% {
          opacity: 1;
          -o-transform: translateY(0);
      }
  }
  
  @keyframes moveUp {
      0% {
          opacity: 1;
          transform: translateY(40px);
      }
  
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  @-webkit-keyframes fadeBgColor {
      0%{
          background:none;
      }
    70%{
          background:none;
      }
      100%{
          background:#464646;
      }
  }
  @-o-keyframes fadeBgColor {
      0%{
          background:none;
      }
    70%{
          background:none;
      }
      100%{
          background:#464646;
      }
  }
  @keyframes fadeBgColor {
      0%{
          background:none;
      }
    70%{
          background:none;
      }
      100%{
          background:#464646;
      }
  }
  
  .animated.animationDelay{
      animation-delay:.4s;
      -webkit-animation-delay:.4s;
  }
  .animated.animationDelayMed{
      animation-delay:1.2s;
      -webkit-animation-delay:1.2s;
  }
  .animated.animationDelayLong{
      animation-delay:1.6s;
      -webkit-animation-delay:1.6s;
  }
  .animated.fadeBgColor {
      -webkit-animation-name: fadeBgColor;
      -moz-animation-name: fadeBgColor;
      -o-animation-name: fadeBgColor;
      animation-name: fadeBgColor;
  }
  .animated.bounceIn {
      -webkit-animation-name: bounceIn;
      -moz-animation-name: bounceIn;
      -o-animation-name: bounceIn;
      animation-name: bounceIn;
  }
  .animated.bounceInRight {
      -webkit-animation-name: bounceInRight;
      -moz-animation-name: bounceInRight;
      -o-animation-name: bounceInRight;
      animation-name: bounceInRight;
  }
  .animated.bounceInLeft {
      -webkit-animation-name: bounceInLeft;
      -moz-animation-name: bounceInLeft;
      -o-animation-name: bounceInLeft;
      animation-name: bounceInLeft;
  }
  .animated.fadeIn {
      -webkit-animation-name: fadeIn;
      -moz-animation-name: fadeIn;
      -o-animation-name: fadeIn;
      animation-name: fadeIn;
  }
  .animated.fadeInDown {
      -webkit-animation-name: fadeInDown;
      -moz-animation-name: fadeInDown;
      -o-animation-name: fadeInDown;
      animation-name: fadeInDown;
  }
  .animated.fadeInUp {
      -webkit-animation-name: fadeInUp;
      -moz-animation-name: fadeInUp;
      -o-animation-name: fadeInUp;
      animation-name: fadeInUp;
  }
  .animated.moveUp {
      -webkit-animation-name: moveUp;
      -moz-animation-name: moveUp;
      -o-animation-name: moveUp;
      animation-name: moveUp;
  }



/*Responsive*/

@media only screen and (max-width: 1400px) {

    .container-property{
        padding: 0 20px;
    }

}

@media only screen and (max-width: 1200px) {

    #search-section .search-area {
        padding: 20px 80px;
    }

    #feature-section .property-list p {
        font-size: 12px !important;
        color: #636c72;
    }

    .fixed{
        padding: 0;
    }

}

@media only screen and (max-width: 1024px){
    .container-property{
        padding: 0;
    }
}



@media only screen and (max-width: 991px) {

    .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

    .animated.fadeInUp {
        -webkit-animation-name: none;
        -moz-animation-name: none;
        -o-animation-name: none;
        animation-name: none;
    }

    .animatable {
  
        /* initially hide animatable objects */
        visibility: visible;
        
        /* initially pause animatable objects their animations */
        -webkit-animation-play-state: none;   
        -moz-animation-play-state: none;     
        -ms-animation-play-state: none;
        -o-animation-play-state: none;   
        animation-play-state: none; 
    }

    #nav-container{
        background: #fff;
        min-width: 100%;
        position: fixed;
        color: var(--color-primary);
        z-index: 20;
    }

    .logo-nav{
        width: 150px; 
        height:auto;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active {
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 5px;

        /*background: linear-gradient(to right, #F16A70, #F16A70) no-repeat;
        background-size: 90% 3px;
        background-position: left bottom;*/
    }

    .header nav.navbar .nav-item .icon-responsive{
        display: inline-block;
        margin-right: 5px;
    }

    .fixed{
        padding: 0 12px;
    }

    #testimonial-section .testimonial-list .image {
        border-radius: 50%;
        height: 150px;
        border: 5px solid white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }

    #testimonial-section .testimonial-list i.fas {
        font-size: 56px !important;
    }

    #mail-section {
        padding: 50px 0 100px 0;

    }

    #search-section {
        font-size: 13px;
        width: 100%;
        margin: auto;
    }

    #search-section .search-area {
        border-radius: 0;
        padding: 30px;
    }

    #search-section .search-area input {
        margin-bottom: 10px;
    }

    #search-section .search-area button.btn-theme {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }

    #search-section .search-area button.btn-advance {
        width: 100%;
    }

    .judul {
        font-size: 30px;
    }

    .sub-judul {
        font-size: 15px;
        margin-top: 10%;
    }

    #feature-ul .feature-features {
        padding-right: 7px;
    }

}

@media only screen and (max-width: 580px) {
    /*Responsive Search*/

    .logo-nav{
        width: 120px; 
        height:auto;
    }

    #search-section {
        margin-top: 0px;
    }

    #search-section .search-area {
        border-radius: 0;
        padding: 30px;
    }

    #search-section .search-area input {
        margin-bottom: 10px;
    }

    #search-section .search-area button.btn-theme {
        margin-top: 20px;
        width: 100%;
    }

    #search-section .search-area button.btn-advance {
        margin-top: 20px;
        width: 100%;
    }

    .judul {
        font-size: 25px;
    }

    .sub-judul {
        font-size: 13px;
    }

    /*Responsive Search*/

    /*Services Responsive*/

    #services-section .d-flex {
        flex-direction: column;
    }

    /*Services Responsive*/

    /*Work Responsive*/

    #work-section .d-flex {
        flex-direction: column;
    }

    /*Work Responsive*/

    /*Testimonial Responsive*/

    #testimonial-section {
        padding: 50px 0;
    }

    #testimonial-section .testimonial-list .image {
        height: 110px;
    }

    #testimonial-section .testimonial-list i.fas {
        font-size: 48px !important;
        color: #000000;
    }

    /*Testimonial Responsive*/

    /*Mail Responsive*/

    #mail-section .form {
        padding: 20px;
    }

    #mail-section .btn-theme {
        margin: 20px 0 10px 0;
        width: 100%;
    }

    /*Mail Responsive*/

    /* work section */
    #work-section .card-img {
        height: 250px;
    }

    #work-section .card {
        width: 100%;
        height: 370px;
    }
    /* work section */

    /*Footer Responsive*/

    footer h4 {
        text-align: center;
    }

    /*Footer Responsive*/
}