/*Color*/
:root {
    --color-primary: #a5876a;
    --color-secondary: #E1CCB7 !important;
    --color-acent: #cebba8;
    --color-orange: #ff931e;
    --color-black: #636c72;
    --font-poppin: 'Poppins', serif;
}

/*Color*/



@font-face {
    font-family: "cerebri";
    src: url("../font/Cerebri-Sans/CerebriSans-Regular.ttf");
}

@font-face {
    font-family: "cerebri-bold";
    src: url("../font/Cerebri-Sans/CerebriSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "cerebri";
}

body{
    background-color: #f6f6f6;
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

#product-listing .card-title{
    font-weight: bold;
    color: var(--color-orange);
}

.btn-delete {
    box-shadow: none;
    font-family: var(--font-poppin);
    font-size: 15px;
    color: var(--color-primary);
    padding: 0 9px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-delete:hover {
    background-color:#f73378;
    color: #ffffff;
    box-shadow: none;
}

.btn-theme {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-inquiry {
    box-shadow: none;
    margin: 0;
    width: 100%;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-3 {
    box-shadow: none;
    height: 100%;
    width:95%;
    font-family: var(--font-poppin);
    font-size: 10px;
    font-weight:bold;
    text-transform: capitalize;
    /* background-color: var(--color-primary); */
    color: var(--color-primary);
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
}

.btn-theme-3:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-theme-2 {
    box-shadow: 0 10px 20px 0px rgb(34 137 255 / 52%);
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-play {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    margin-left: 20px;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}


.btn-advance {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: none;
}

/*Header*/

header.header {
    width: 100%;
}

#nav-container{
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.logo-nav{
    width: 180px; 
    height:auto;
}

.header nav.navbar .navbar-brand {
    font-family: var(--font-poppin);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.header nav.navbar .nav-link {
    font-size: 15px;
    font-family: var(--font-poppin);
    color: var(--color-primary);
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.5s ease;
}

.header nav.navbar .nav-item .icon-responsive{
    display: none;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
}


.header nav.navbar .nav-item {
    margin: auto 5px;
}

.navbar-toggler {
    color: var(--color-primary);
}

.header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
}

.judul {
    font-family: "cerebri-bold";
    font-size: 40px;
}

.sub-judul {
    font-family: "cerebri";
}

/*Header*/

#product-listing{
    width: 100%;
    padding: 120px 100px;
    font-family: var(--font-poppin);
}

#product-listing .property-list {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    transition: transform .5s ease;
    cursor: pointer;
}

.text-inquiry{
    font-size: 13px;
}

#product-listing .property-list p {
    font-size: 15px !important;
    color: #636c72;
}

#product-listing .property-list .btn-property {
    border: none;
    background: #fff;
    font-size: 15px;
    transition: 0.5s ease;
}

#feature-ul {
    margin-right: auto;
    margin-left: auto;
}

.feature-features {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}

.feature-features i.fas {
    font-size: 13px;
    color: #9ba1a5;
}

#product-listing .property-list .btn-property:hover {
    color: var(--color-primary);
}


#product-listing .property-list .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

#product-listing .property-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-listing .property-list .image .tag-container {
    position: absolute;
    background-color: transparent;
    width: 100%;
    font-size: 13px;
}

#product-listing .property-list .image .tag-container .tag-featured{
    color: #fff;
    background-color: var(--color-primary);
    padding:5px 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#product-listing .property-list .image .tag-container .tag-sale{
    color: #fff;
    background-color: #000;
    padding:5px 15px;
}

.feature-hr {
    margin: 0 0 15px;
    height: 1px;
    background-color:var(--color-primary);
    border: none;
}

#product-listing .btn-theme {
    border-radius: 30px;
}

.item-header {
    width: 100%;
    height: 80px;
}

#product-listing .item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
    font-family: "cerebri-bold";
    font-size: 18px;
    margin-top: 15px;
    color: var(--color-primary);
}

#product-listing a {
    text-decoration: none;
}

#product-listing a:hover {
    text-decoration: none;
    color: #fff;
}

.location-text{
    height: 40px;
    width: 100%;
}

#product-listing .price {
    font-family: "cerebri-bold";
    font-size: 15px;
}

/*Footer section*/

footer {
    width: 100%;
    padding: 0 50px;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color: #ffffff;
    margin-top: 30px;
}
/*Footer section*/


@media only screen and (max-width: 1200px) {
    #feature-ul {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 991px) {
    #nav-container{
        background: #fff;
        min-width: 100%;
        position: fixed;
        color: var(--color-primary);
        z-index: 20;
    }

    .logo-nav{
        width: 150px; 
        height:auto;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active {
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 5px;

        /*background: linear-gradient(to right, #F16A70, #F16A70) no-repeat;
        background-size: 90% 3px;
        background-position: left bottom;*/
    }
}

@media only screen and (max-width: 580px) {

    .logo-nav{
        width: 120px; 
        height:auto;
    }
    
    #product-listing{
        padding: 80px 10px;
    }
}