/*Color*/
:root {
    --color-primary: #a5876a;
    --color-secondary: #E1CCB7 !important;
    --color-acent: #cebba8;
    --color-orange: #ff931e;
    --color-black: #636c72;
    --font-poppin: 'Poppins', serif;
}

/*Color*/



@font-face {
    font-family: "cerebri";
    src: url("../font/Cerebri-Sans/CerebriSans-Regular.ttf");
}

@font-face {
    font-family: "cerebri-bold";
    src: url("../font/Cerebri-Sans/CerebriSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "cerebri";
}

body{
    background-color: #f6f6f6;
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

.btn-inquiry {
    box-shadow: none;
    margin: 0;
    width: 100%;
    font-family: var(--font-poppin);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}


.btn-theme {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 15px;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    float: right;
    width: 30%;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}

.btn-theme-2 {
    box-shadow: 0 10px 20px 0px rgb(34 137 255 / 52%);
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-play {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    margin-left: 20px;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}


.btn-advance {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: none;
}

/*Header*/

header.header {
    width: 100%;
}

#nav-container{
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.logo-nav{
    width: 180px; 
    height:auto;
}

.header nav.navbar .navbar-brand {
    font-family: var(--font-poppin);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.header nav.navbar .nav-link {
    font-size: 15px;
    font-family: var(--font-poppin);
    color: var(--color-primary);
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.5s ease;
}

.header nav.navbar .nav-item .icon-responsive{
    display: none;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
}


.header nav.navbar .nav-item {
    margin: auto 5px;
}

.navbar-toggler {
    color: var(--color-primary);
}

.header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
}

.judul {
    font-family: "cerebri-bold";
    font-size: 40px;
}

.sub-judul {
    font-family: "cerebri";
}

/*Header*/


/*image section*/

#image-section {
    position:relative;
    width: 100%;
    padding-top: 50px;
}

#image-section .button {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#image-slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#image-slider .swiper .swiper-slide .image-list .image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.swiper-button-prev{
    font-weight: bold;
    width: 45px;
    color: #fff;
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    left: 50px !important;
    transition: .3s ease-in-out;
}

.swiper-button-next{
    font-weight: bold;
    width: 45px;
    color: #fff;
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    right: 50px !important;
    transition: .3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    background-color: var(--color-acent);
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;
}

/*image section*/


/*property detail section*/

#property-detail{
    padding: 0 50px;
}

#property-detail .judul{
    font-family: "cerebri-bold";
    font-size: 26px;
    color: var(--color-primary);
}

#property-detail .harga{
    font-family: "cerebri-bold";
    font-size: 24px;
    float: right;
}


#property-detail .card{
    border-radius: 0;
}

#property-detail .atas{
    height: 210px;
}

#property-detail .card-text{
    color: #636c72;
}

#property-detail .card-title{
    font-family: "cerebri-bold";
}

#property-detail .detail-text{
    font-size: 14px;
}

#property-detail .harga-row,
#property-detail .inquiry-row{
    display: flex;
    justify-content: end;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Footer section*/

footer {
    width: 100%;
    padding: 0 50px;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color: #ffffff;
}

/*Footer section*/

@media only screen and (max-width: 1400px) {

    .btn-theme {
        float: left;
        width: 100%;
    }

    #property-detail .harga{
        font-size: 20px;
    }

    #property-detail .harga-row{
        justify-content: start;
    }

    #property-detail .atas{
        height: 220px;
    }

}

@media only screen and (max-width: 1200px) {
    #property-detail .atas{
        height: 240px;
    }
}

@media only screen and (max-width: 991px) {
    #nav-container{
        background: #fff;
        min-width: 100%;
        position: fixed;
        color: var(--color-primary);
        z-index: 20;
    }

    .logo-nav{
        width: 150px; 
        height:auto;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active {
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 5px;

        /*background: linear-gradient(to right, #F16A70, #F16A70) no-repeat;
        background-size: 90% 3px;
        background-position: left bottom;*/
    }

    #property-detail .atas{
        height: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .logo-nav{
        width: 120px; 
        height:auto;
    }
    
    #property-detail .harga{
        font-size: 17px;
        float: left;
    }
}

