/*Color*/
:root {
    --color-primary: #a5876a;
    --color-secondary: #E1CCB7 !important;
    --color-acent: #cebba8;
    --color-orange: #ff931e;
    --color-black: #636c72;
    --font-poppin: 'Poppins', serif;
}

/*Color*/



@font-face {
    font-family: "cerebri";
    src: url("../font/Cerebri-Sans/CerebriSans-Regular.ttf");
}

@font-face {
    font-family: "cerebri-bold";
    src: url("../font/Cerebri-Sans/CerebriSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "cerebri";
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

.btn-theme {
    box-shadow: none;
    margin: 0 auto;
    height: 100%;
    width:100%;
    font-family: var(--font-poppin);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    /* background-color: var(--color-primary); */
    color: var(--color-primary);
    padding: 15px 0;
    border-radius: 10px;
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
}

.btn-theme:hover,
.btn-theme.active{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #ffffff;
    box-shadow: none;
}

.btn-theme-2 {
    box-shadow: 0 10px 20px 0px rgb(34 137 255 / 52%);
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

.btn-play {
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    margin-left: 20px;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}


.btn-advance {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    text-transform: none;
}

.btn-details {
    font-size: 15px;
    font-weight: 500;
    background-color: var(--color-primary);
    color: #ffffff;
    border-radius: 20px;
    transition: 0.5s ease;
    text-transform: none;
}

.btn-details:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;

}

p {
    color: #636c72;
}

/*Header*/

.header{
    width: 100%;
    min-height: 45vh;
    position: relative;
}

#banner-image{
    margin: auto;
    width: 100%;
    height: 45vh;
    position: relative;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#banner-image:after {
    content: '\A';
    position: absolute;
    z-index: 1;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,.4);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#banner-image .swiper {
    width: 100%;
    height: 100%;
}




#nav-container{
    padding: 0 10%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.logo-nav{
    width: 180px; 
    height:auto;
}

nav.navbar .navbar-brand {
    font-family: var(--font-poppin);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

nav.navbar .nav-link {
    font-size: 13px;
    font-family: var(--font-poppin);
    color: var(--color-primary);
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.5s ease;
}

nav.navbar .nav-item .icon-responsive{
    display: none;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 30px;
}


nav.navbar .nav-item {
    margin: auto 5px;
}

.navbar-toggler {
    color: var(--color-primary);
}

.header .header-content {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    z-index: 2;
}

.header-content .judul {
    font-family: "cerebri";
    font-size: 60px;
    display: none;
}

.sub-judul {
    font-family: "cerebri";
}

/*Header*/

/*About*/

#about-section{
    width: 100%;
    padding: 70px 0;
}

#property-slider .swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-prev{
    position: relative;
    font-weight: bold;
    width: 45px;
    color: #fff;
    top: 0;
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    transition: .3s ease-in-out;
}

.swiper-button-next{
    position: relative;
    font-weight: bold;
    width: 45px;
    color: #fff;
    top: 0;
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    transition: .3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    background-color: var(--color-acent);
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px !important;
}

#about-section h1{
    color: var(--color-primary);
    font-family: "cerebri";
    font-size: 33px;
}

#about-section .none-display{
    display: none;
}

#about-section #about-slider {
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

#about-slider .swiper {
    width: 100%;
    height: 100%;
}

#about-section .image {
    border-radius: 20px;
    overflow: hidden;
}

#about-section .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#about-section .img-icon{
    width:35%; 
    height:auto;
}

/*About*/

/* Agent */

#agent-section {
    width: 100%;
    padding: 60px 0;
    color: var(--color-secondary);
}

#agent-section h3 {
    color: var(--color-primary);
    font-family: "cerebri-bold";
}


#agent-slider .swiper {
    padding: 20px;
    width: 100%;
    height: 100%;
}

#agent-slider .swiper .swiper-slide .agent-list {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
}

#agent-slider .swiper .swiper-slide .agent-name {
    font-size: 21px;
    color: var(--color-primary);
}

#agent-slider .swiper .swiper-slide .agent-pos {
    font-size: 14px;
    height: 30px;
}

#agent-slider .swiper .swiper-slide .agent-desc {
    height: calc(100vh/5);
    width: 100%;
    /* background-color: #555; */
}

#agent-slider .swiper .swiper-slide .agent-desc p{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#agent-slider .swiper .swiper-slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

/*Property section*/
/* Agent */


/*More section*/

#more-section {
    width: 100%;
    padding: 100px 0;
    background-color: #eeeeee;
    font-family: var(--font-poppin);
}

#more-section h1 {
    color: var(--color-primary);
    font-family: "cerebri-bold";
}

#more-section h4 {
    font-family: "cerebri-bold";
}

#more-section p {
    font-weight: 400;
}

#more-section .service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: #ffffff;
}

#more-section .service-show i.fas {
    padding: 20px;
    width: 62px;
    color: #ffffff;
    font-size: 20px;
    background-color: var(--color-primary);
    border-radius: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#more-section .service-show p {
    font-size: 14px;
    font-weight: 400;
}


/*#work-section .service-show{
    padding: 20px 30px;
    text-align: center;
    border-radius: 30px 0 30px 30px;
    margin: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#work-section .service-show:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background-color: #ffffff;
}*/

/*More section*/

/* Floating Button */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    transition: all .2s ease-in-out;
}

.float:hover{
    color: #fff;
    transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* Floating Button */




/*Footer section*/

footer {
    padding: 0 100px;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color: #ffffff;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.company-name{
    display: flex;
    justify-content: start;
}

.social-icon{
    display: flex;
    justify-content: end;
}
/*Footer section*/


@media only screen and (max-width: 1200px) {

    #search-section .search-area {
        padding: 20px 80px;
    }

    #feature-section .property-list p {
        font-size: 12px !important;
        color: #636c72;
    }

    .fixed{
        padding: 0;
    }

}

@media only screen and (max-width: 991px) {

    .btn-theme{
        font-size: 10px;
    }

    #nav-container{
        background: #fff;
        min-width: 100%;
        position: fixed;
        color: var(--color-primary);
        z-index: 20;
    }

    .logo-nav{
        width: 150px; 
        height:auto;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-link.active {
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 5px;

        /*background: linear-gradient(to right, #F16A70, #F16A70) no-repeat;
        background-size: 90% 3px;
        background-position: left bottom;*/
    }

    .header nav.navbar .nav-item .icon-responsive{
        display: inline-block;
        margin-right: 5px;
    }

    .fixed{
        padding: 0 12px;
    }

    #testimonial-section .testimonial-list .image {
        border-radius: 50%;
        height: 150px;
        border: 5px solid white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }

    #testimonial-section .testimonial-list i.fas {
        font-size: 56px !important;
    }

    #mail-section {
        padding: 50px 0 100px 0;

    }

    #search-section {
        font-size: 13px;
        width: 100%;
        margin: auto;
    }

    #search-section .search-area {
        border-radius: 0;
        padding: 30px;
    }

    #search-section .search-area input {
        margin-bottom: 10px;
    }

    #search-section .search-area button.btn-theme {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }

    #search-section .search-area button.btn-advance {
        width: 100%;
    }

    .header-content .judul {
        font-size: 30px;
        display: block;
    }

    .sub-judul {
        font-size: 15px;
        margin-top: 10%;
    }

    #feature-ul .feature-features {
        padding-right: 7px;
    }

    #about-section .img-icon{
        width: 60%;
    }

    .company-name{
        display: flex;
        justify-content: start;
    }
    
    .social-icon{
        display: flex;
        justify-content: end;
    }

}

@media only screen and (max-width: 767px) {
    .swiper-button-prev{
        width: 30px;
        height: 30px;
    }
    
    .swiper-button-next{
        width: 30px;
        height: 30px;
    }

    /*Responsive Search*/
    .logo-nav{
        width: 120px; 
        height:auto;
    }

    .btn-theme {
        font-size: 10px;
    }

    #about-section .img-icon{
        width: 75%;
    }

    #about-section h1{
        font-size: 25px;
    }

    #about-section p{
        font-size: 15px;
    }

    #search-section {
        margin-top: 0px;
    }

    #search-section .search-area {
        border-radius: 0;
        padding: 30px;
    }

    #search-section .search-area input {
        margin-bottom: 10px;
    }

    #search-section .search-area button.btn-theme {
        margin-top: 20px;
        width: 100%;
    }

    #search-section .search-area button.btn-advance {
        margin-top: 20px;
        width: 100%;
    }

    .header-content .judul {
        font-size: 25px;
    }

    .sub-judul {
        font-size: 13px;
    }

    /*Responsive Search*/

    /*Services Responsive*/

    #services-section .d-flex {
        flex-direction: column;
    }

    /*Services Responsive*/

    /*Work Responsive*/

    #more-section .d-flex {
        flex-direction: column;
    }

    /*Work Responsive*/

    /*Testimonial Responsive*/

    #testimonial-section {
        padding: 50px 0;
    }

    #testimonial-section .testimonial-list .image {
        height: 110px;
    }

    #testimonial-section .testimonial-list i.fas {
        font-size: 48px !important;
        color: #000000;
    }

    /*Testimonial Responsive*/

    /*Mail Responsive*/

    #mail-section .form {
        padding: 20px;
    }

    #mail-section .btn-theme {
        margin: 20px 0 10px 0;
        width: 100%;
    }

    /*Mail Responsive*/


    /*Footer Responsive*/

    .company-name{
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }
    .social-icon{
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }  

    footer h4 {
        text-align: center;
    }

    /*Footer Responsive*/
}